{% load static %}
<div class="header clearfix">
<a href="index.html" class="logo"></a>
<ul class="menu">
{% for element, link in menu_links.items %}
    <li>
        <a href = "/{{link}}" {% if link == request.resolver_match.view_name %} class ="active" {%endif%} >
     {{element}}
        </a>
    </li>
{% endfor %}

{% if user.is_authenticated %}
   <li>
       <div class="dropdown">
           <a class="dropdown-toggle" href="" data-toggle="dropdown">
               {{ user.first_name|default:'Пользователь' }}
               <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
               <li class="dropdown-li">
                   <a href="{% url 'auth:edit' %}">
                       профиль
                   </a>
               </li>
               <li class="dropdown-li">
                   <a href="{% url 'ordersapp:orders_list' %}">
                       заказы
                   </a>
               </li>
           </ul>
       </div>
   </li>

    {% if user.is_superuser %}
        <li> <a href="{% url 'admin:users' %}">
            Админка
            </a>
        </li>
    {% endif %}

    <li> <a href="/auth/logout">выйти</a></li>

{% else %}
    <a href="/auth/login">войти</a>
{% endif %}

</div>