{% load static %}
<div class="header clearfix">
<a href="index.html" class="logo"></a>
<ul class="menu">
{% for element, link in menu_links.items %}
    <li>
        <a href = "/{{link}}" {% if link == request.resolver_match.view_name %} class ="active" {%endif%} >
     {{element}}
        </a>
    </li>
{% endfor %}

{% if user.is_authenticated %}
<li> <a href="{% url 'basket:view' %}">
    {{ user.basket.total_quantity}}
    тов. на сумму {{ user.basket.total_cost}} руб.

    </a>
</li>

<li> <a href="/auth/logout">выйти</a></li>

{% else %}
    <a href="/auth/login">войти</a>
{% endif %}

</div>